<form class="my-10 space-y-6">
  <p
    class="text-6xl font-bold tracking-wider text-gray-300 md:text-7xl lg:text-9xl">
    404
  </p>
  <p
    class="mt-4 text-2xl font-bold tracking-wider text-gray-500 md:text-3xl lg:text-5xl">
    Page Not Found
  </p>
  <p class="mt-4 border-b-2 pb-4 text-center text-gray-500">
    Sorry, the page you are looking for could not be found.
  </p>
  <a
    href="#"
    class="mt-6 flex items-center space-x-2 rounded bg-blue-600 px-4 py-2 text-center text-gray-100 transition duration-150 hover:bg-blue-700"
    title="Return">
    <span>Return</span>
  </a>
</form>
